{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 order-lg-last order-md-last order-sm-last">
            <div class="container">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change container mt-5">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" name="action" class="btn btn-success btn-block">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
        {% include 'feed/sidebar.html' %}
    </div>
</div>


{% endblock %}
