


<div class="container">
    <div class="row">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">{{tweet.author.first_name}} {{tweet.author.last_name}}&nbsp;&nbsp;@{{tweet.author.username}} - {{tweet.date_created}}</div>
          <div class="card-body">
            <p class="card-text">{{tweet.body}}</p>
          </div>
          <div class="card-footer text-white bg-dark">
              <button class="btn btn-primary">Like</button>
          </div>
        </div>
    </div>
</div>