.container{
 margin:0 auto;
 /* width:600px; */
}

:root {
    --primary-color: #0275d8;
    --primary-light: #cce3f7;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #f9f9f9;
}

/* Navbar */
.bg-light {
    background: #fff !important;
    border-bottom: 1px solid #e5e5e5;
}

#brand {
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-left: 0.5em;
}

#username {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.left-col, .right-col {
    flex-basis: 50%;
    height: 100vh;
    position: relative;
}

.logo {
    display: block;
    width: 80px;
    margin-top: 30px;
    margin-left: 120px;
}

.content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
}

.content h1 {
    color: var(--primary-color);
    font-size: 60px;
    line-height: 70px;
    margin: 25px 0;
    font-weight: 700;
}

.content p {
    color: #777;
    font-size: 17px;
    line-height: 28px;
}

.signin {
    width: 175px;
    border: none;
    background: var(--primary-color);
    box-shadow: 0px 10px 10px 1px rgba(219, 219, 219, 0.5);
    padding: 25px 0;
    color: #fff;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

.register {
    width: 175px;
    border: 1px solid var(--primary-color);
    background: #fff;
    box-shadow: 0px 10px 10px 1px rgba(219, 219, 219, 0.5);
    padding: 25px 0;
    color: var(--primary-color);
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s linear;
}

.register:hover {
    background: var(--primary-color);
    color: #fff;
}

.slider {
    width: 100%;
    height: 60%;
    display: flex;
}

.slider img {
    width: 100%;
}

.slider-content {
    width: 100%;
    height: 40%;
    background-color: var(--primary-color);
    padding-top: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}

.slider-content h2 {
    font-size: 26px;
    font-weight: 100;
    color: #fff;
}

.slider-content p {
    color: var(--primary-light);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

hr {
    border: none;
    width: 270px;
    height: 1px;
    background: var(--primary-light);
    margin: 20px 0 30px 0;
}

.controller {
    width: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controller img {
    width: 45px;
    cursor: pointer;
}

.vertical-line {
    width: 2px;
    height: 30px;
    background: var(--primary-light);
}

/* media queries */
@media only screen and (max-width: 800px) {
    .logo {
        margin: 30px auto;
    }

    .left-col, .right-col {
        flex-basis: 100%;
    }

    .content {
        left: 0;
        padding: 20px;
        text-align: center;
    }

    .content h1 {
        font-size: 34px;
        line-height: 38px;
    }

    .slider, .slider-content {
        height: auto;
    }
}

/* Cards */
.card-header,
.card-body,
.card-footer {
    background: #fff !important;
}

.author_name {
    font-weight: 700;
    color: #000;
}

.author_username,
.date_published {
    font-weight: 400;
    color: #898989;
}

.tweet_body,
.card-footer {
    color: #000 !important;
    font-weight: 400;
    text-decoration: none;
}

.tweet_body:hover {
    text-decoration: none;
    color: #000;
}

.user_profile {
    width: 20px !important;
    height: 20px !important;
    margin-top: -5px !important;
}

.tweet_float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: var(--primary-color);
    border-radius: 50%;
}

#tweet {
    border-radius: 50px !important;
}
/**
Fixing Left side on tweets feed page.
**/