{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="custom-centered mt-5">

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 order-lg-first order-md-first order-sm-last">
            {% if tweets.count == 0 %}
                <p>You do not have any tweets yet. Click <a href="{% url 'create' %}">here</a> to create your first tweet.</p>
            {% endif %}

            {% for item in tweets %}
                <a href="{% url 'tweet_detail' item.slug %}"><h3>{{item.body}}</h3></a>
                <p>{{item.date_published}}</p>
                <hr>
            {% endfor %}
        </div>
        {% include 'feed/sidebar.html' %}
    </div>
</div>

{% endblock %}