{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
<div class="row">
    {% include 'feed/sidebar.html' %}

    <div class="col-lg-9 col-md-8 col-sm-12 order-lg-last order-md-last order-sm-last">
        {% if tweets %}
        {% for item in tweets %}
            <div>
                {% include 'feed/tweet_snippet.html' with tweet=item %}
            </div>
        {% endfor %}
        {% else %}
            <div>
                {% include 'feed/tweet_snippet.html' with query=query %}
            </div>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}