

<div class="col-lg-4 col-md-6 col-sm-12 order-lg-last order-md-last order-sm-first order-xs-first">
<a href="{% url 'feed' %}" class="btn btn-primary btn-block" type="button">Home</a>
<a href="{% url 'all_tweets' %}" class="btn btn-primary btn-block mt-3" type="button">All Tweets</a>
<a href="{% url 'create' %}" class="btn btn-primary btn-block mt-3" type="button">Tweet</a>
<div class="mt-3">
    <form action="" method="get">
        <input type="text" class="form-control" name="q" id="id_q" placeholder="Search">
    </form>
</div>
<div class="mt-3">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">@{{user.username}}</h6>
            <a href="{% url 'account_logout' %}" class="card-link">Log-Out</a>
            <a href="{% url 'modify_account' %}" class="card-link">Settings</a>
        </div>
    </div>
</div>
<p style="color: gray;" class="mt-3">&copy; Tweeting Site 2020</p>
</div>


<script type="text/javascript">
    document.getElementById("id_q").value = "{{ query }}"
</script>