{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 order-lg-last order-md-last order-sm-last">
            <div class="container">
                <div class="row">
                    <div class="card m-auto" style="width:100%">
                        <div class="card-body my-2">
                            <h2 class="card-title">
                                {{tweet.body}}
                            </h2>
                            <p class="card-text">{{tweet.author.username}}, {{tweet.date_published}}
                                {% if tweet.date_published|date:"YmdHis" < tweet.date_updated|date:"YmdHis" %}
                                <b>(edited)</b>
                                {% endif %}
                            </p>




                            <p>Likes - {{ tweet.likes.count }}</p>
                            {% if user.is_authenticated %}
                            <form action="{% url 'like_tweet' tweet.slug %}" method="post">{% csrf_token %}
                                {% if not liked %}
                                    <button type="submit" name="post_id" value="{{tweet.id}}" class="btn btn-success float-left">Like</button>
                                {% else %}
                                    <button type="submit" name="post_id" value="{{tweet.id}}" class="btn btn-danger float-left">Dislike</button>
                                {% endif %}
                            </form>
                            {% endif %}



                            {% if tweet.author == request.user %}
                                <a href="{% url 'tweet_edit' tweet.slug %}" class="btn btn-primary float-right">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>




                <h2 class="mt-5">{{ tweet.comments.all.count }} Comments</h2>
                <a href="{% url 'add_comment' tweet.slug %}">Add Comment</a>
                <hr style="width: 100%;">
                <div class="row mt-3" >
                    <div class="col-12">
                        {% if not tweet.comments.all %}
                            No comments yet! Click <a href="{% url 'add_comment' tweet.slug %}">&nbsp;here&nbsp;</a> to add a comment.
                        {% else %}
                            {% for comment in tweet.comments.all %}
                                <div>
                                <b>{{ comment.name }} - {{ comment.date_created }}</b> <br/>
                                {{ comment.body }}
                                <br><br>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>




            </div>
        </div>
        {% include 'feed/sidebar.html' %}
    </div>
</div>


{% endblock %}